*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(30, 1, 57);
}

.navbar h1{
    color: rgb(253, 253, 253);
}
/*NAV BAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(images/gaming_article.jpg);
}

.nav-links{
    /*Quitar viñetas*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li{
    margin-left: 20px;
}

.nav-links li a{
    color:aliceblue; /*Cambiar color de enlaces*/
    text-decoration: none; /*Quitar subrayado*/
}

/*HERO*/
.hero{
    background-image: url(/images/Frappe-07.PNG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
    padding: 100px 0;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

/*MENU - PRODUCTOS*/
.featured-products{
    padding: 50px;
    text-align: center;
}

.featured-products h2{
    background-color: rgb(102, 4, 187);
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-product{
    padding: 20px;
    background-color: rgb(217, 215, 250);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 260px);
    gap: 20px;
    grid-template-areas:
    "product1 product2 product3"
    "product1 product4 product5"
    "product6 product7 product7";
    border: 4px solid transparent;
    animation: animacion-borde 2s infinite;
}

.product{
    background-color: rgb(171, 113, 222);
    border-radius: 10px;
    color: aliceblue;
    border: 4px solid transparent;
    animation: animacion-borde 2s infinite;
    transition: transform 0.3s ease; /* Transición suave */
}

.product:hover {
    transform: scale(1.1); /* Aumenta el tamaño un 20% */
}

.product img{
    width: 90%;
    height: 60%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.product button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-family:"Josefin Sans", sans-serif;
    background-color: rgb(102, 4, 187);
    color: aliceblue;;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #007bff; /* Azul más oscuro al pasar el cursor */
}

/*Seccion de menu*/

.postres{
    padding: 50px;
    text-align: center;  
}

.postres h2{
    background-color: rgb(102, 4, 187);
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.grid-container{
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*Responsive*/
    /*gap: 30px;*/
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding:20px;
    background-color: rgb(217, 215, 250);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 260px);
    gap: 20px;
    grid-template-areas:
    "postre1 postre2 postre3"
    "postre4 postre5 postre6"
    "postre7 postre8 postre9"
    "postre10 postre11 postre12"
    "postre13 postre14 postre15";
    border: 4px solid transparent;
    animation: animacion-borde 2s infinite;
}

.postre img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}
/*Seccion de personal*/
.equipo{
    background-color: rgb(217, 215, 250);
    text-align: center;
}

.equipo h2{
    background-color: rgb(102, 4, 187);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
}

.equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}
.miembro{
    width: 200px;
    margin-bottom: 20px;
}
.miembro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer{
    background-color: rgb(102, 4, 187);
    color: aliceblue;
    text-align: center;
    padding: 10px 0;
}

/*Seccion de sandwiches*/
.sandwiches{
    padding: 50px;
    text-align: center;
}

.grid-sandwich{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 260ppx);
    gap: 20px;
    grid-template-areas:
    "sandwich1 sandwich1 sandwich2 sandwich3"
    "sandwich1 sandwich1 sandwichPollo sandwich5";
}

.sandwich{
    border: 1px solid gray;
    padding: 20px;
}

.sandwich img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.sandwich:nth-child(1) {grid-area: sandwich1;}
.sandwich:nth-child(2) {grid-area: sandwich2;}
.sandwich:nth-child(3) {grid-area: sandwich3;}
.sandwich:nth-child(4) {grid-area: sandwichPollo;}
.sandwich:nth-child(5) {grid-area: sandwich5;}

.product:nth-child(1) {grid-area: product1;}
.product:nth-child(2) {grid-area: product2;}
.product:nth-child(3) {grid-area: product3;}
.product:nth-child(4) {grid-area: product4;}
.product:nth-child(5) {grid-area: product5;}
.product:nth-child(6) {grid-area: product6;}
.product:nth-child(7) {grid-area: product7;}

.postre:nth-child(1) {grid-area: postre1;}
.postre:nth-child(2) {grid-area: postre2;}
.postre:nth-child(3) {grid-area: postre3;}
.postre:nth-child(4) {grid-area: postre4;}
.postre:nth-child(5) {grid-area: postre5;}
.postre:nth-child(6) {grid-area: postre6;}
.postre:nth-child(7) {grid-area: postre7;}
.postre:nth-child(8) {grid-area: postre8;}
.postre:nth-child(9) {grid-area: postre9;}
.postre:nth-child(10) {grid-area: postre10;}
.postre:nth-child(11) {grid-area: postre11;}
.postre:nth-child(12) {grid-area: postre12;}
.postre:nth-child(13) {grid-area: postre13;}
.postre:nth-child(14) {grid-area: postre14;}
.postre:nth-child(15) {grid-area: postre15}

@keyframes animacion-borde {
    0% { border-color: rgb(222, 164, 249); }
    50% { border-color: rgb(192, 64, 252) }
    100% { border-color: rgb(222, 164, 249); }
}