*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Lucida Sans', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: bisque;
}

.new-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.hero{
    background-image: url(/images/tipos-de-cafe-small-16_9.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
    padding: 100px 0;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.featured-products{
    padding: 50px;
    text-align: center;
}

.featured-products h2{
    background-color: bisque;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: antiquewhite;
}

.product{
    width: 300px;
    margin-bottom: 30px;
    background-color: rgb(231, 178, 140);
    border-radius: 10px;
    margin-top: 30px;
}

.product img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*Seccion de postres*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*Responsive*/
    gap: 30px; /*espaciado*/
}

.postre img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/*Seccion de personal*/
.equipo{
    background-color: antiquewhite;
}
.equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.miembro{
    width: 200px;
    margin-bottom: 35px;
}
.miembro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer{
    background-color: rgb(254, 166, 99);
    color: antiquewhite;
    text-align: center;
    padding: 10px 0;
}

button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-family:'Lucida Sans', sans-serif;
    background-color: antiquewhite;
    color: brown;
}

